@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #eeeeeed8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.home-container {
  background-image: url('../assets/images/background-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#welcome h1,
#overview h3 {
  text-align: center;
}

#overview a {
  text-decoration: none; 
}

.navbar {
  position: fixed;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  padding-left: 8vw;
  font-size: 1.8em;
}

.navbar-nav {
  margin-left: 54vw;
}

.navbar-brand img {
  height: 1.7em;
}

.nav-link {
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .navbar-brand {
    padding-left: 4vw;
    font-size: 1.5em;
  }

  .navbar-nav {
    margin-left: 2vw;
  }

  .nav-link {
    font-size: 1em;
  }
}

@media (max-width: 1560px) {
  .navbar-nav {
    margin-left: 44vw;
  }
}

@media (max-width: 1240px) {
  .navbar-nav {
    margin-left: 30vw;
  }
}

.line {
  position: relative;
  background-color: #9db7be;
  margin-top: 8vh;
  min-height: 0.8vh;
  max-height: 0.8vh;
}

#welcome {
  margin-top: 5vh;
}

#overview {
    margin-top: 2vh; 
}
  
section {
  max-width: 1000px;
  margin: 30px auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 850px) {
    .navbar-brand {
      padding-left: 4vw;
    }
  
    .navbar-nav {
      margin-left: 20px;
    }
  
    .col-lg-6 {
      width: 100%;
    }

    section {
      padding-left: 20px;
      padding-right: 20px;
    }
}
