@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #eeeeeed8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.navbar {
  position: fixed;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  padding-left: 8vw;
  font-size: 1.8em;
}

.navbar-nav {
  margin-left: 54vw;
}

.navbar-brand img {
  height: 1.7em;
}

.nav-link {
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .navbar-brand {
    padding-left: 4vw;
    font-size: 1.5em;
  }

  .navbar-nav {
    margin-left: 2vw;
  }

  .nav-link {
    font-size: 1em;
  }
}

@media (max-width: 1560px) {
  .navbar-nav {
    margin-left: 44vw;
  }
}

@media (max-width: 1240px) {
  .navbar-nav {
    margin-left: 30vw;
  }
}

.upload-container {
  margin-top: 11vh;
  margin-left: 20vw;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #0a4650, #46696e);
  color: #D7D7EF;
  font-family: 'Lato', sans-serif;
  border: 1px solid #9aa9b3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.col-md-12 {
  width: 42vw;
  height: 150px;
}

.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px dashed rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  transition: 0.2s;
}

.choose-file-button {
  width: 170px;
  height: 40px;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.file-message {
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.mt-100 {
  margin-top: 70px;
}

@media (max-width: 1240px) {
  .choose-file-button {
    max-width: 170px; 
  }

}

@media (max-width: 560px) {
  .file-drop-area {
     width: 170px; 
   }
}

.btn-primary {
  margin-top: 2vh;
  width: 100%; 
  max-width: 120px; 
  background-color: #feffff;
  color: #060f11;
  border-radius: 6px;
  border-color: #060f11;
  box-sizing: border-box; 
  padding: 8px 15px; 
}

.test-datasets-container {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 34vh;
  width: 60vw;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  padding: 30px 40px 40px 40px;
  background-color: white;
}

.test_datasets {
  padding-left: 10px;
  padding-top: 4px;
}

.test_datasets a img {
  width: 32px; 
  height: 32px; 
}

.fa-database {
  margin-left: 10px;
  margin-top: 3px;
  font-size: 20px;
}

.test_datasets a {
  margin-right: 42px; 
}

.checkbox-title h5 {
  margin-left: 12px;
  font-size: 20px;
}

.cst-Disc {
  border-color: #060f11;
  margin-left: 18vw;
  margin-top: 30px;
  width: auto;
  height: 60px;
  max-height: 100%;
  max-width: 100%;
  background-color: rgb(255, 255, 255);
  color: #060f11;
  box-sizing: border-box; 
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-secondary {
  margin-left: 1vw;
  width: auto;
  min-width: 6.5vw;
  background-color: #feffff;
  color: #060f11;
}

.btn-primary:hover,
.btn-primary:focus,
.cst-Disc:hover,
.cst-Disc:focus,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #0a4650;
  box-shadow: none;
  outline: none;
}

.table-container,
.table-container2 {
  position: relative;
  padding: 5vh;
  padding-top: 0;
  background-color: white;
  max-height: 47.5vh;
  overflow-y: auto;
}

.table-container::-webkit-scrollbar,
.table-container2::-webkit-scrollbar {
  width: 12px;
}

.table-container::-webkit-scrollbar-thumb,
.table-container2::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}

.table-container::-webkit-scrollbar-track,
.table-container2::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.table-outer-container,
.table-outer-container2 {
  margin-top: 2vh;
  width: 60vw;
  max-height: 70vh;
  margin-left: 20vw;
  margin-right: 20vw;
  overflow-y: auto;
  padding-bottom: 3vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

@media only screen and (max-width: 600px) {
  .table-outer-container,
  .table-outer-container2,
  .table-outer-container3 {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .table-container,
  .table-container2 {
    padding: 1vh;
  }
}

@media only screen and (max-width: 768px) {
  .table-outer-container,
  .table-outer-container2,
  .table-outer-container3 {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

.table-outer-container3 {
  margin-top: 2vh;
  padding: 0px 60px 60px 60px;
  width: 60vw;
  max-height: 65vh;
  margin-left: 20vw;
  overflow-y: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.method-container,
.bins-container {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 1vw;
  width: 60vw;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  padding: 45px;
  background-color: white;
  display: flex;
}

.checkbox-container {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 1vw;
  width: 60vw;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  padding: 25px 45px 45px 45px;
  background-color: white;
}

.method-container {
  justify-content: space-between;
}

.checkbox-title {
  padding-bottom: 16px;
  display: flex;
}

h5 {
  margin-left: 12px;
  font-size: 23px;
}

.fa-caret-right {
  margin-top: 2px;
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .checkbox-container {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media only screen and (max-width: 600px) {
  .checkbox-container{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

.label-str {
  font-size: 24px;
}

.label-str-min,
.dropdown-min-strategy,
.dropdown-min-class,
.form-label {
  margin-left: 12px;
}


.dropdown-strategy {
  display: flex;
  margin-left: 2vw;
}

.dropdown-class {
  display: flex;
  margin-right: 5vw;
}

.dropdown-menu {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-text {
  margin-top: 7px;
}

.cst-bins {
  margin-left: 2vw;
}

.icon-check {
  font-size: 21px;
  margin-top: 45px;
  margin-left: 24px;
}

.label-str2 {
  font-size: 22px;
}

.fa-circle-question {
  margin-left: 2px;
}

.icon-check {
  position: relative;
}

#displayText {
  display: none;
  position: absolute;
  font-size: 14px;
  top: 4.5vh;
  padding: 12px;
  width: 10vw;
  margin-left: 4.5vw;
  transform: translateX(-50%);
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fa-cloud-arrow-up {
  margin-right: 1px;
}

.fa-cloud-arrow-down {
  margin-right: 5px;
}

.down-but {
  display: flex;
  align-items: center;
  width: auto;
  padding: 9px;
}

.col-lg-6 {
  margin-top: 1vh;
  margin-left: 3.6vw;
  width: 62vw;
}

footer,
.table {
  text-align: center;
  margin-top: auto;
}

.table-text {
  margin-left: 5vh;
  margin-top: 4vh;
  margin-right: 4vh;
}

.fa-circle-cst {
  margin-right: 4px;
}

.spinner-cst1,
.spinner-cst2 {
  display: none;
  margin-top: 2vh;
  margin-left: 49.4vw;

}

.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
  background-color: #feffff;
  color: #0a4650;
  border-color: #060f11;
}

.table-text-ori,
.table-text-eva {
  margin-top: 4vh;
  text-align: center;
}

.table-eva {
  border: 1px solid rgba(58, 155, 158, 0.1);
  margin-top: 5vh;
}

@media only screen and (max-width: 1600px) {
  .cst-Disc {
    margin-left: 14vw;
   }
}

@media only screen and (max-height: 800px) {
  .upload-container {
    margin-top: 12vh;
  }
  
  .test-datasets-container {
    margin-top: 18vh;
  }
}


@media only screen and (max-width: 1500px) {
  .table-outer-container,
  .table-outer-container2,
  .table-outer-container3,
  .checkbox-container,
  .method-container,
  .bins-container {
    margin-top: 2vh;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
  }
}


@media only screen and (max-width: 1500px) {
  .table-outer-container,
  .table-outer-container2 {
    padding: 20px;
  }

  .upload-container,
  .test-datasets-container{
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
  }

  .cst-Disc {
    margin-left: 16vw;
   }
}

@media only screen and (max-width: 1200px) {
   .cst-Disc {
    margin-left: 14vw;
   }

  .method-container {
    display: block;
  }

  .dropdown-class {
    margin-top: 2vw;
    margin-left: 2vw;
  }

}

@media only screen and (max-width: 940px) {
  .cst-Disc {
   margin-left: 7vw;
  }

}

@media only screen and (max-width: 920px) {
  .table-outer-container,
  .table-outer-container2,
  .table-outer-container3,
  .checkbox-container,
  .method-container,
  .bins-container {
    margin-top: 2vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 15px;
  }

  .test-datasets-container{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 26px;
  }

  .upload-container{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .method-container {
    display: block;
  }

  .label-str {
    display: flex;
    font-size: 20px;
    padding: 10px;
  }
  .dropdown-class {
    margin-top: 2vh;
  }

  .fas, .fa-info-circle {
    margin-top: 6px;
  }

  .dropdown-min-strategy,
  .dropdown-min-class {
    margin-left: 0;
    margin-top: 6px;
  }

  .btn-class {
    margin-left: 30px;
  }

}

@media only screen and (max-width: 567px) {
  .label-str2,
  .form-check-label {
    font-size: 20px;
  }

  .cst-Disc {
    margin-left: 0vw;
   }

   .label-str2 {
    display: flex;
   }

   .icon-check {
    margin-left: 1vw;
   }
}

@media (max-width: 525px) {
  .bins-container {
    display: block;
  }

  .icon-check,
  .cst-Disc {
    margin: 0;
    margin-left: 16px;
  
  }
}

.hover-link img {
  transition: all 0.3s ease; 
}

.hover-link:hover img {
  transform: scale(1.32); 
}

.modal-container {
  margin: 60px auto;
  padding-top: 0px;
  position: absolute;
  width: 160px;
}

.modal-container .modal-btn {
  display: block;
  margin: 0 auto;
  color: #fff;
  width: 160px;
  height: 50px;
  line-height: 50px;
  background: #446CB3;
  font-size: 22px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 5px 5px -5px #333;
  transition: background 0.3s ease-in;
}

.modal-container .modal-btn:hover {
  background: #365690;
}

.modal-container .modal-content,
.modal-container .modal-backdrop {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.modal-container .modal-close {
  color: #aaa;
  position: absolute;
  right: 5px;
  top: 5px;
  padding-top: 3px;
  background: #fff;
  font-size: 16px;
  width: 25px;
  height: 25px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.modal-container .modal-close:hover {
  color: #333;
}

.modal-container .modal-content-btn {
  position: absolute;
  text-align: center;
  cursor: pointer;
  bottom: 20px;
  right: 30px;
  background: #446CB3;
  color: #fff;
  width: 50px;
  border-radius: 2px;
  font-size: 14px;
  height: 32px;
  padding-top: 5px;
  font-weight: normal;
}

.modal-container .modal-content-btn:hover {
  color: #fff;
  background: #365690;
}

.modal-container #modal-toggle {
  display: none;
}

.modal-container #modal-toggle.active ~ .modal-backdrop,
.modal-container #modal-toggle:checked ~ .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

#modal-title {
  margin-top: 15px;
  margin-bottom: 0px;
}

.modal-container #modal-toggle.active ~ .modal-content,
.modal-container #modal-toggle:checked ~ .modal-content {
  opacity: 1;
  background-color: #fff;
  left: 50%;
  min-width: 570px;
  transform: translateX(-50%);
  height: auto;
  padding: 10px 30px;
  position: fixed;
  top: 30%;
  border-radius: 4px;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  visibility: visible;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}

@media (max-width: 700px) {
  .modal-container #modal-toggle.active ~ .modal-content, .modal-container #modal-toggle:checked ~ .modal-content {
    min-width: 400px;
    height: 200px;
  }
}